@using BucketList.Entities.Models

@model User


<h2>My Profile</h2>

@*Bio Edit*@
<div class="form-group">
    @using (Html.BeginForm("SaveUser", "Profile", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.Bio, new { @class = "form-control" });
        @Html.ValidationMessageFor(m => m.Bio);
        <input type="submit" class="form-control" value="Save"></input>
    }
</div>

@*Bucket List Item List*@
@if (Model.BucketListItems != null && Model.BucketListItems.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Item</th>
                <th>Creation</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BucketListItems)
            {
                <tr>
                    <td>
                        @if (item.Status.Equals("In Progress"))
                        {
                            <p class="glyphicon glyphicon-unchecked" />
                        }
                        else
                        {
                            <p class="glyphicon glyphicon-check" />
                        }

                    </td>
                    <td>@Html.ValueFor(x => item.Item)</td>
                    <td>@Html.ValueFor(x => item.Created)</td>

                    <td>
                        <a class="bg-primary" asp-action="DeleteListItem" asp-route-itemId="@item.Id">Delete</a>

                        @if (item.Status.Equals("In Progress"))
                        {
                            <a asp-action="SetListItemStatus" asp-route-id="@item.Id" asp-route-status="Complete">Complete</a>
                        }
                        else
                        {
                            <a asp-action="SetListItemStatus" asp-route-id="@item.Id" asp-route-status="In Progress">Uncomplete</a>
                        }

                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <label class="text-center center-block">@Model.UserName has no bucket list items yet!</label>
}

@*Create List Item*@
<div class="form-group">
    @using (Html.BeginForm("CreateListItem", "Profile", FormMethod.Post))
    {
        <label class="form-control-static center-block text-center">Create Bucket List Item</label>
        <input type="text" name="body" class="form-control" />
        <input type="submit" value="Create" class="form-control" />
    }
</div>